@use "intro";
@use "color-shift";
@use "aside";
@use "ancient-beings";
@use "../../../styles/01-settings/font-p22-mackinac-pro";
@use "../../../styles/01-settings/font-golos-text";
@use "../../../lib/nueac-standard/src/breakpoints" as *;

.entry-content {
	--cream: #fcf5f3;
	--light-green: #d6e1c7;
	--darker-green: #374724;
	--darkest-green: #111e02;
	--light-taupe: #e9deda;
	--medium-taupe: #93837d;
	--darker-taupe: #72625d;
	--darkest-taupe: #4e4040;
	--wp--preset--font-size--medium: 17px;
	--wp--preset--font-size--large: 24px;
	--wp--preset--font-size--x-large: 30px;
	--wp--preset--font-size--xx-large: 36px;
	--wp--preset--font-family--display: var(--wp--preset--font-family--body);
	--wp--custom--color--background: var(--darker-green);
	--wp--custom--color--foreground: var(--cream);
	--wp--custom--color--emphasize: var(--cream);
	--wp--custom--color--link-text: currentcolor;
	--wp--custom--color--link-text-emphasize: var(--wp--custom--color--emphasize);
	--wp--custom--color--lessen: var(--light-green);
	--wp--style--global--content-size: 700px;
	--wp--custom--spacing--outer: var(--wp--custom--spacing--80);
	--wp--preset--font-family--body: "Golos Text";
	--wp--preset--font-family--impact: p22-mackinac-pro;

	background-color: var(--wp--custom--color--background);
	color: var(--wp--custom--color--foreground);
	font-family: var(--wp--preset--font-family--body);
	font-size: var(--wp--preset--font-size--medium);
	overflow: hidden;
	padding-bottom: var(--wp--custom--spacing--80);
}

.site-footer,
.site-footer > .wrapper {
	margin-top: 0;
}

.wp-block-post-title,
.wp-block-pullquote,
.wp-block-heading {
	-webkit-font-smoothing: antialiased;
	line-height: 1.43;
}

.wp-block-post-title {
	font-family: var(--wp--preset--font-family--impact);
	font-weight: 500;

	@media ($less-than-extra-wide) {
		font-size: var(--wp--preset--font-size--x-large);
	}

	@media ($at-least-extra-wide) {
		font-size: var(--wp--preset--font-size--xxx-large);
	}
}

.is-style-dek,
.wp-block-pullquote cite {
	line-height: 1.6;
	max-width: 27.35ch;
}

.is-style-dek {

	@media ($at-least-extra-wide) {
		font-size: var(--wp--preset--font-size--large);
	}
}

.wp-block-heading {
	--wp--preset--font-family--impact: inherit;
	--wp--preset--font-size--large: inherit;
	--wp--preset--font-size--x-large: inherit;

	@media ($less-than-narrow) {
		font-size: var(--wp--preset--font-size--large);
	}

	@media ($at-least-narrow) {
		font-size: var(--wp--preset--font-size--x-large);
	}
}

.wp-block-pullquote {
	padding-inline: var(--wp--custom--spacing--50);

	@media ($less-than-narrow) {
		font-size: var(--wp--preset--font-size--large);
	}

	@media ($at-least-narrow) {
		font-size: var(--wp--preset--font-size--xx-large);
	}
}

.pin-spacer {
	margin-block: 0 !important;
	max-width: 100vw !important;
}

.has-horizontal-transition {
	align-items: flex-end;
	display: flex;
	margin-block: 0;
}

.has-horizontal-transition > * {
	margin: 0;
	min-width: 100vw;
	width: 100vw;
}

.wp-block-pullquote blockquote {
	font-family: unset;
	font-size: unset;
	font-weight: 500;
	text-align: unset;

	&::before,
	&::after {
		content: none;
	}
}

.wp-block-pullquote cite {
	--wp--preset--font-size--small: 16px;
}

.has-drop-cap:not(:focus)::first-letter {
	font-family: var(--wp--preset--font-family--impact);
	font-size: 340%;
	font-weight: 500;
	line-height: 0.9;
	margin-inline: -0.45em 0.05em;
}

.article-share {
	--wp--custom--ui--handle: var(--wp--custom--color--foreground);
}

.article-share:not(.has-popup) {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--wp--custom--spacing--90);

	&::before {
		aspect-ratio: 1/1.15;
		background-image: url(../pinecone.png);
		background-size: contain;
		content: "";
		display: block;
		filter: invert(1);
		mix-blend-mode: soft-light;
		width: 80px;
	}
}

.wp-block-cover {
	color: var(--cream);
	text-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
}

.wp-block-columns,
.is-layout-constrained:not(.entry-content) > .wp-block-image {

	@media ($less-than-narrow) {
		margin-block: var(--wp--custom--spacing--80);
	}

	@media ($at-least-narrow) {
		margin-block: var(--wp--custom--spacing--100);
	}
}

.entry-content > .wp-block-columns {

	@media ($less-than-extra-narrow) {
		margin-inline: calc(-1 * var(--wp--custom--spacing--outer)) !important;
		width: unset;
	}
}

.wp-block-column > :is(p, .wp-block-heading),
.is-layout-constrained:not(.entry-content) > :is(p, .wp-block-heading) {

	@media ($less-than-narrow) {
		padding-inline: var(--wp--custom--spacing--outer);
	}
}

.alignfull > .wp-block-columns {

	@media ($at-least-extra-narrow) and ($less-than-extra-extra-wide) {
		padding-inline: var(--wp--custom--spacing--outer);
	}
}

.wp-block-group.is-layout-flex,
.wp-block-columns.is-layout-flex {
	gap: var(--wp--custom--spacing--80);
}

.wp-element-caption {
	margin: 1rem 0 0;
	padding-inline: 1rem;
}

.is-style-footnote {
	color: var(--wp--custom--color--lessen);
}

hr.wp-block-separator {
	border-color: var(--wp--custom--color--lessen);
	border-top-width: 2px;
	margin-top: 3rem;
	max-width: var(--wp--custom--layout--content-size);
	opacity: 0.15;
	width: 70%;
}

